:root{
     /* Brand Colours */
     --pink: #FFC6DA;
     --yellow:#FFF1A6;
     --blue:#BAD8EB;
     --white-blue: #F3F6F7;

     /* Dark Scale */
     --black:#000000;
     --blue-20:#124C5F;
     --white:#FFFFFF;
}