@media (max-width:1024px){
    header{
        height: 2rem;
    }

    header > p{
        font-size: 14px;
        font-weight: 600;
    }

    /* Consertar a imagem de fundo para que fique do mesmo jeito do projeto figma */
    .box-img{
        padding: 2em;
        height: auto;
        min-height: 25rem;
        display: flex;
        background-size: cover;
        background-position:center ;
        align-items: center;
        justify-content: start;
    }

    .box-conteudo{
        margin: 5%;
        width: 90%;
    }

    .text-vitrine{
    width: 90%;
    max-width: 500px;
    margin-top: 3em;
}

.text-vitrine>h3{
    font-size: 1.5em;
}

.text-vitrine>p{
    font-size: 1rem;
    width: 100%;
}

.vitrine{
    max-width: 95%;
    grid-area: 1rem;
}

.produto{
    flex: 1 1 calc(45% - 1rem);
    height: auto;
    padding-bottom: 1rem;
}

}