@media (max-width: 375px){
    header{
        max-width: 37.5rem;
        height: 3.9rem;
    }

    header h1{
        font-size: 1.4rem;
    }

    .box-info{
        max-width: 31.9rem;
        height: 9.4rem;
        margin-bottom: 4rem;
    }
}