*{
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    /* Nesse caso decidi colocar aqui porque é usado a mesma fonte em todas landing page */
    font-family: "Plus Jakarta Sans", sans-serif;
    color: var(--white);
}

img{
    width: 100%;
    display: block;
}

html{
    font-size: 62.5%;
}