/* Configuração do texto */

h2, p{
    text-align: left;
}

h2{
    font-size: 4rem;
    line-height: 120%;
    font-weight: 600;
}

p{
    font-size: 2.4rem;
    line-height: 150%;
}

/* Botão */

button{
    width: 100%;
    max-width: 23.8rem;
    height: 4.9rem;
    border-radius: .4rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8rem;
    background-color: var(--vermelho);
    color: var(--branco);
}

/* organizaçção do grupo info-botao */

.info-botao{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

/* Organização da logo */

.logo-text{
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

span{
    font-size: 2.4rem;
    font-weight: 500;
}

.logo-text img{
    width: 100%;
    max-width: 3.5rem;
    height: 3.8rem;
}