/* Configuração do texto */

h1, h2, p{
    text-align: left;
}

h1, h2{
    font-size: 4rem;
    line-height: 120%;
    font-weight: 600;
}

p{
    font-size: 2.4rem;
    line-height: 150%;
}

/* Botão */

.btn{
    width: 100%;
    max-width: 23.8rem;
    height: 4.9rem;
    border-radius: .4rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8rem;
    background-color: var(--vermelho);
    color: var(--branco);
    cursor: pointer;
}

.btn:hover{
    background-color: #af1308;
}

/* organizaçção do grupo dos textos*/

.info{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.info-right{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}