.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;

    margin-top: 3.2rem;
}   

.header span{
    font-family: "Fire Code";
    font-size: 2.4rem;
    color: var(--verde);
}

.header a{
    font-size: 1.6rem;
    font-weight: 500;
}

ul{
    display: flex;
}

.nav:nth-child(-n+4){
    margin-right: 5.6rem;
}

a:hover{
    color: var(--verde);
    transition: .3s;
}

.linha{
    width: 100%;
    max-width: 124.6rem;
    height: .2rem;
    background: var(--off-black);
    margin: 0 auto;
    border-radius: .3rem;

    margin-top: 3.2rem;
}

/* section presentation */

.presentation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left{
    display: flex;
    flex-direction: column;
    gap: 4.8rem;

    width: 100%;
    max-width: 43rem;
    height: 23.3rem;
}

.left a{
    width: 100%;
    max-width: 19.3rem;
    height: 3.7rem;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--verde);
    color: var(--cod-gray);
    border-radius: .4rem;

    font-size: 1.6rem;

}

.left a:hover{
    background-color: rgb(61, 158, 61);
    color: var(--white);
    transition: .3s;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.name span{
    font-size: 2.4rem;
    font-weight: 500;
}

.name h1{
    font-size: 4.8rem;
    font-weight: 400;
    color: var(--verde);
}

.info span{
    font-size: 2.4rem;
    font-weight: 500;
}

.right{
    width: 100%;
    max-width: 50rem;
    height: 50rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.right img{
    max-width: 38rem;
}

/* iniciando a section about-me */

.about-me{
    width: 100%;
    height: 40.5rem;
    display: flex;
    flex-direction: column;
    gap: 6.4rem;

    margin-top: 6rem;
}

.description{
    width: 100%;
    max-width: 121.6rem;
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    text-align: center;
}

h2{
    color: var(--verde);
    font-size: 3.2em;
    font-weight: 400;
}

.description p{
    font-size: 2.4rem;
}

.contact{
    width: 100%;
    max-width: 121.6rem;
    display: flex;
    justify-content: center;
}

.social{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.social:nth-child(-n+3){
    margin-right: 12.2rem;
    
}

img{
    max-width: 3.2rem;
}

.title{
    font-size: 2rem;
    font-weight: 500;
    white-space: nowrap;
}

.sub-title{
    font-size: 1.8rem;
    font-weight: 400;
    white-space: nowrap;
}

/* Começando a section container project */

.project{
    width: 100%;
    height: 88.9rem;
    margin-top: 15rem;

    display: flex;
    flex-direction: column;
    gap: 4.8rem;
}

.project h2{
    display: flex;
    justify-content: center;
}

.vitrine{
    width: 100%;
    max-width: 121.6rem;
    flex-wrap: wrap;
    display: flex;
    gap: 3.2rem;
}

.bloco:nth-child(-n+2){
    margin-bottom: 3.2rem;
}

.bloco{
    width: 100%;
    max-width: 59.2rem;
    height: 37.1rem;

    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.img-projeto{
    height: 20rem;
    background-color: var(--off-black);
    border: .1rem solid var(--nero);
    border-radius: .4rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.img-projeto span{
    color: var(--verde);
    font-size: 2.4rem;
}

.info-projeto{
    width: 100%;
    max-width: 24.8rem;
    height: 7rem;
}

.info-projeto h3{
    font-weight: 500;
    font-size: 2.4rem;

    margin-bottom: 2.4rem;
}

.info-projeto span{
    font-weight: 500;
    font-size: 1.8rem;
    color: var(--verde);
}

.btn-acessar{
    display: flex;
    gap: 3.2rem;
}

.btn{
    width: 100%;
    max-width: 20.2rem;
    height: 3.7rem;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .4rem;
}

.preenchido{
    background-color: var(--verde);
    color: var(--nero);
    font-size: 1.6rem;
    font-weight: 500;
}

.vazado{
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 500;
    border: .2rem solid var(--verde);
}

/* Começando a section service */

.service{
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
}

.service h2{
    display: flex;
    justify-content: center;
}

.vitrine-service{
    width: 100%;
    max-width: 121.6rem;
    height: 24rem;

    display: flex;
    gap: 3.2rem;
}

.blocos-service{
    width: 100%;
    max-width: 38.4rem;
    height: 24rem;

    background-color: var(--off-black);
    border: .1rem solid var(--nero);
    border-bottom: .2rem solid var(--verde);
}

.info-service{
    width: 100%;
    max-width: 11.8rem;
    height: 16.4rem;

    display: flex;
    flex-direction: column;
    gap: 3.8rem;
    justify-content: center;
    margin-left: 4rem;
    margin-top: 3.8rem;
}

.info-service img{
    max-width: 5.6rem;
}

.info-service span{
    font-size: 3.2rem;
}